@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

#back-to-top {
    display: none;
    position: fixed;
    z-index: 3;
    bottom: 0px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--black1);
    color: var(--black1);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-mainelipse {
    position: absolute;
    z-index: 0;
    left: 1%;
    bottom: 10%;
}

.z-5 {
    z-index: 5;
}

.gap-41 {
    gap: 41px;
}

.login {
    padding: 16px 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--offwhite);
    transition: all 300ms linear;
}

.login:hover {
    background-color: var(--button-hover);
    border: 1px solid var(--button-hover);
}

.gap-129 {
    gap: 40px;
}

.nav-underline {
    position: relative;
    list-style: 150%;
}

.nav-underline::after {
    content: "";
    position: absolute;
    margin-bottom: -15px;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: var(--offwhite);
    height: 4px;
    width: 0;
    transition: all 300ms linear;
}

.nav-underline:hover::after {
    left: 0;
    width: 100%;
}

.pb-108 {
    padding-bottom: 108px;
}

.header-head {
    max-width: 802px;
}

.header-para {
    max-width: 730px;
}

.bg-img-header {
    background-image: url(../images/header-bgimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    margin-top: 40px;
    padding: 16px 30px;
    border-radius: 5px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    transition: all 500ms linear;
}

.contact:hover {
    background: var(--Linear, linear-gradient(125deg, #FFA723 0%, #FFCF23 100%));
}

.s2-top-bottom-padding {
    padding-top: 80px;
    padding-bottom: 54px;
}

.slider2 .slick-track {
    margin-left: -25% !important;
}

.slider2 .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 25px !important;
    left: 50% !important;
    border-radius: 34px !important;
    width: 31px !important;
    height: 11px !important;
    background: #000;
    content: '' !important;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider2 .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
    width: 40px !important;
}

.slider2 .slick-dots {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center !important;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.s3-top-bottom-padding {
    padding-top: 48px;
    padding-bottom: 54px;
}

.container-custom1 {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.s3-para {
    max-width: 697px;
    margin-bottom: unset;
}

.s3-slider .slick-current {
    transform: scale(1.1);
}

.s3-slider .slick-track {
    margin-left: 10%;
}

.book {
    padding: 16px 30px;
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid var(--black1);
    box-shadow: 5px 5px 0px 0px var(--black1);
    transition: all 300ms linear;
}

.book:hover {
    border: 1px solid var(--black1);
    box-shadow: unset;
}

.book:active {
    transform: scale(.95);
}

.s4-top-bottom-padding {
    padding-top: 54px;
    padding-bottom: 54px;
}

.s4-para {
    max-width: 612px;
}

.container-custom2 {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.s4-button,
.s4-button1,
.s4-button2,
.s4-button3 {
    max-width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 14px 0px 14px 34px;
    margin-bottom: 27px;
    transition: all 300ms linear,
}

.s4-button:hover,
.s4-button1:hover,
.s4-button2:hover,
.s4-button3:hover {
    border: 1px solid #FFCF23;
    box-shadow: 5px 5px 0px 0px #FFCF23;
}

.s5-padding-top-bottom {
    padding-top: 54px;
    padding-bottom: 54px;
}

.s5-card {
    max-width: 364px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--black1);
    padding: 32px 20px 20px;
    transition: all 300ms linear;
}

.s5-card:hover {
    border: 1px solid var(--yellow);
    box-shadow: 10px 10px 0px 0px var(--yellow);
}

.s5-card:hover .s5-cardbox {
    background-color: var(--yellow);
    border: 1px solid transparent;
}

.s5-cardbox {
    padding: 12px 0px;
    max-width: 240px;
    border-radius: 45px;
    border: 1px solid var(--black1);
    background: var(--offwhite1);
    position: absolute;
    top: -6%;
    transition: all 300ms linear;
}

.s5-cardline {
    width: 100%;
    height: 1px;
    color: var(--black1);
    opacity: 0.2;
    margin-top: 23px;
    margin-bottom: 23px;
}

.s5-cardpoint {
    line-height: 150%;
    padding-bottom: 12px;
}


.get {
    padding: 16px 0px;
    border-radius: 5px;
    border: 2px solid var(--black1);
    margin-top: 10px;
    transition: all 300ms linear;
}

.get1 {
    padding: 16px 0px;
    border-radius: 5px;
    border: 2px solid var(--black1);
    margin-top: 10px;
    transition: all 300ms linear;
}

.get:hover,
.get1:hover {
    border: 1px solid var(--yellow);
    box-shadow: 10px 10px 0px 0px var(--yellow);
}

.s6-top-bottom-padding {
    padding-top: 54px;
    padding-bottom: 54px;
}

.add {
    padding: 12px 23px;
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.20);
    border: 2px solid transparent;
    transition: all 300ms linear;
}

.add:hover {
    background: transparent;
    border: 2px solid var(--offwhite);
}

.add:active {
    transform: scale(.90);
}

.s7-top-bottom-padding {
    padding-top: 54px;
    padding-bottom: 54px;
}

.card-s7 {
    border-radius: 15px;
    border: 1px solid var(--black1);
    padding: 30px;
    max-width: 891px;
}

.slider7 .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 25px !important;
    left: 50% !important;
    border-radius: 34px !important;
    width: 31px !important;
    height: 11px !important;
    background: #000;
    content: '' !important;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider7 .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
    width: 40px !important;
}

.slider7 .slick-dots {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center !important;
}

.slider7 .slick-current {
    border: 1px solid var(--yellow) !important;
    box-shadow: 10px 10px 0px 0px var(--yellow) !important;
}

.card-s7 .slick-track {
    margin-left: unset !important;
}

.s7-img {
    max-width: 100px;
    max-height: 100px;
}

.accordion-padding {
    padding-top: 48px;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none !important;
    border-radius: none !important;
    border-bottom: 1px solid #EBE9E3 !important;
    max-width: 879px !important;
}

.accordion-item:not(:first-of-type) {
    border-bottom: 1px solid #EBE9E3 !important;
    max-width: 879px !important;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: unset !important;
    --bs-accordion-border-color: none !important;
    max-width: 879px !important;
    margin-left: auto;
    margin-right: auto;
}

.accordion-body {
    background-color: transparent !important;
}

.accordion-button {
    background-color: transparent !important;
    border: none !important;
}

.accordhead {
    line-height: normal !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    font-family: Montserrat Alternates !important;
    font-size: var(--fs-1sm) !important;
    font-weight: 600 !important;
    color: var(--black1) !important;
    transition: all 300ms linear;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(../images/s7-arrow.png) !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordian-para {
    max-width: 839px !important;
    letter-spacing: 0em;
    text-align: left;
    font-family: Montserrat Alternates !important;
    font-size: var(--fs-1sm);
    color: var(--lightblack);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    transition: all 300ms linear;
}

.accordion-button:focus {
    display: none;
}

.footer-padding-top {
    padding-top: 55px;
}

.footer-svg-circle {
    width: 32px;
    height: 32px;
    background: rgba(250, 250, 250, 0.15);
    border-radius: 50%;
    transition: all 300ms linear;
}

.footer-svg-circle:hover {
    transform: translateY(-10px);
}

.mb-14 {
    margin-bottom: 14px;
}

.footer-line {
    width: 100%;
    height: 1px;
    border: 1px solid #4F4E4E;
}

.footer-underline {
    position: relative;
}

.footer-underline::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: var(--offwhite);
    height: 1.5px;
    width: 0;
    transition: all 300ms linear;
}

.s5-para {
    max-width: 420px;
}

.s5-para1 {
    max-width: 315px;
}

.s5-2cardpadding {
    padding-top: 45px;
}

.book1 {
    padding: 14px 32px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background-color: transparent;
    transition: all 300ms linear;
}

.book1:hover {
    border: 1px solid var(--yellow);
    box-shadow: 10px 10px 0px 0px var(--yellow);
}

.footer-underline:hover::after {
    left: 0;
    width: 100%;
}

.min_vh_header {
    min-height: 80vh;
}

.header-lipse {
    position: absolute;
    width: 100%;
    max-width: 75px;
    z-index: 1;
    left: 0;
    top: 14%;
}

.header-lipse1 {
    position: absolute;
    z-index: 1;
    top: 14%;
    left: 28%;
    width: 100%;
    max-width: 47px;
}

.header-lipse2 {
    position: absolute;
    z-index: 1;
    top: 23%;
    right: 17%;
    width: 100%;
    max-width: 33px;
}

.header-lipse3 {
    position: absolute;
    z-index: 1;
    bottom: 23%;
    width: 100%;
    max-width: 31px;
    left: 14%;
}

.header-lipse4 {
    position: absolute;
    z-index: 1;
    bottom: 16%;
    right: 35%;
    width: 100%;
    max-width: 33px;
}

.header-lipse5 {
    position: absolute;
    max-width: 86px;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 3%;
}

.header-lipse6 {
    position: absolute;
    max-width: 72px;
    width: 100%;
    z-index: 1;
    top: 8%;
    right: 0;
}

.header-lipse7 {
    position: absolute;
    max-width: 89px;
    width: 100%;
    z-index: 1;
    bottom: 5%;
    right: 0;
}

.s5-img1 {
    mix-blend-mode: multiply;
}

.s3-elipse1 {
    position: absolute;
    max-width: 75px;
    width: 100%;
    top: 0%;
    left: 0;
    z-index: 0;
}

.s3-elipse2 {
    position: absolute;
    max-width: 25px;
    width: 100%;
    top: 7%;
    right: 20%;
    z-index: 0;
}

.s3-elipse3 {
    position: absolute;
    max-width: 43px;
    width: 100%;
    bottom: 5%;
    left: 10%;
    z-index: 0;
}

.s3-elipse4 {
    position: absolute;
    max-width: 89px;
    width: 100%;
    bottom: 5px;
    right: 0;
    z-index: 0;
}

.s4-elipse3 {
    position: absolute;
    max-width: 16px;
    width: 100%;
    top: 4%;
    left: 7%;
    z-index: 1;
}

.s4-elipse4 {
    position: absolute;
    max-width: 32px;
    width: 100%;
    top: 7%;
    right: 8%;
    z-index: 1;
}

.s4-elipse5 {
    position: absolute;
    max-width: 43.67px;
    width: 100%;
    left: 4%;
    bottom: 4%;
    z-index: 1;
}

.s4-elipse6 {
    position: absolute;
    max-width: 72.88px;
    width: 100%;
    right: 3%;
    bottom: 7%;
    z-index: 1;
}

.s5-elipse1 {
    max-width: 100px;
    width: 100%;
    top: -1%;
}

.s5-elipse2 {
    position: absolute;
    z-index: 0;
    width: 100%;
    max-width: 52px;
    top: 2%;
    right: 22%;
}

.s5-elipse3 {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 43.67px;
    max-height: 70.11px;
    top: 57%;
    left: 3%;
}

.s6-elipse3 {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100px;
    top: 5%;
    left: 5%;
}

.s6-elipse4 {
    max-width: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -2%;
    right: 5%;
}

.s7-elipse1 {
    position: absolute;
    z-index: 0;
    max-width: 100px;
    width: 100%;
    left: 0;
    top: 45%;
}

.s7-elipse2 {
    position: absolute;
    z-index: 0;
    right: 0;
    max-width: 100px;
    width: 100%;
    bottom: 0%;
}

.s4-box1 {
    order: 0;
}

.s4-box2 {
    order: 6;
}

.s4-box3 {
    order: 12;
}

.s4-box4 {
    order: 18;
}

.s4-box5 {
    order: 2;
}

.s4-box6 {
    order: 7;
}

.s4-box7 {
    order: 13;
}

.s4-box8 {
    order: 19;
}

.s4-box9 {
    order: 2;
}

.s4-box10 {
    order: 8;
}

.s4-box11 {
    order: 14;
}

.s4-box12 {
    order: 20;
}

.s4-box13 {
    order: 3;
}

.s4-box14 {
    order: 9;
}

.s4-box15 {
    order: 15;
}

.s4-box16 {
    order: 21;
}

.s4-box17 {
    order: 4;
}

.s4-box18 {
    order: 10;
}

.s4-box19 {
    order: 16;
}

.s4-box20 {
    order: 22;
}

.s4-box21 {
    order: 5;
}

.s4-box22 {
    order: 11;
}

.s4-box23 {
    order: 27;
}

.s4-box24 {
    order: 23;
}

@media (min-width:576px) {
    .s2-top-bottom-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .s3-elipse3 {
        max-width: 105px;
    }

    .header-lipse2 {
        max-width: 64px;
    }

    .header-lipse1 {
        max-width: 84px;
    }

    .header-lipse3 {
        max-width: 64px;
    }

    .header-lipse4 {
        max-width: 58px;
    }

    .get {
        margin-top: 41px;
    }

    .get1 {
        margin-top: 81px;
    }

    .s7-img {
        max-width: 130px;
        max-height: 130px;
    }

    .s3-top-bottom-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .s3-para {
        margin-bottom: 45px;
    }

    .s4-top-bottom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .s5-top-bottom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .s6-top-bottom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .s7-top-bottom-padding {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .accordion-padding {
        padding-top: 60px;
    }

    .s5-card {
        padding: 32px;
    }

    .s5-2cardpadding {
        padding-top: 55px;
    }

    .header-mainelipse {
        bottom: 45%;
    }

    .header-lipse {
        max-width: 115px;
        ;
        top: 9%;
    }
}

@media (min-width:768px) {
    .s2-top-bottom-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .s7-elipse2 {
        max-width: 200px;
    }

    .s6-elipse4 {
        max-width: 196px;
        bottom: 10%;
        right: 10%;
    }

    .s6-elipse3 {
        max-width: 225px;
        top: 5%;
        left: 11%;
    }

    .s5-elipse1 {
        max-width: 181px;
        top: -2%;
    }

    .s5-elipse2 {
        max-width: 67px;
        top: 5;
    }

    .s4-elipse3 {
        top: 11%;
        max-width: 50px;
    }

    .s4-elipse4 {
        max-width: 67px;
        top: 11%;
        right: 19%;
    }

    .s3-elipse4 {
        max-width: 160px;
    }

    .header-lipse7 {
        max-width: 166px;
    }

    .s3-elipse1 {
        max-width: 120px;
    }

    .header-lipse5 {
        max-width: 158px;

    }

    .header-lipse6 {
        max-width: 166px;
        top: 18%;
        ;
    }

    .s3-elipse2 {
        max-width: 55px;
    }

    .br-1 {
        border-right: 2px solid var(--offwhite3);
        height: 100%;
    }

    .s3-top-bottom-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .s4-top-bottom-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .s6-top-bottom-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .s7-top-bottom-padding {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .s5-padding-top-bottom {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .accordion-padding {
        padding-top: 80px;
    }

    .s5-2cardpadding {
        padding-top: 65px;
    }

    .min_vh_header {
        min-height: 100vh;
    }

    .header-mainelipse {
        bottom: 40%;
    }

    .header-lipse {
        max-width: 160px;
        top: 26%;
    }
}

@media (min-width:992px) {
    .s4-button {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        padding: 14px 0px 14px 34px;
        margin-bottom: 27px;
        transition: all 300ms linear;
        max-width: 100%;
    }

    .s7-elipse1 {
        max-width: 168px;
        top: 45%;
    }

    .s5-elipse1 {
        max-width: 181px;
        width: 100%;
        top: 1%;
    }

    .s3-elipse1 {
        top: 5;
        max-width: 165px;
    }

    .s4-button1 {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        padding: 14px 24px 14px 34px;
        margin-bottom: 27px;
        transition: all 300ms linear;
        max-width: 100%;
    }

    .s4-button2 {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        padding: 14px 0px 14px 34px;
        margin-bottom: 27px;
        transition: all 300ms linear;
        max-width: 100%;
    }

    .s4-button3 {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        padding: 14px 24px 14px 34px;
        margin-bottom: 27px;
        transition: all 300ms linear;
        max-width: 100%;
    }

    .s7-img {
        max-width: 184px;
        max-height: 181px;
        width: 100%;
        height: 100%;
    }

    .card-s7 {
        padding: 54px;
    }

    .sliderthree .slick-current {
        transform: scale(1.3);
    }

    .s3-top-bottom-padding {
        padding-top: 125px;
        padding-bottom: 125px;
    }

    .s4-top-bottom-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .s5-top-bottom-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .s6-top-bottom-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .s7-top-bottom-padding {
        padding-top: 115px;
        padding-bottom: 115px;
    }

    .accordion-padding {
        padding-top: 100px;
    }

    .s5-2cardpadding {
        padding-top: 95px;
    }

    .header-mainelipse {
        bottom: 33%;
    }
}

@media (min-width:1140) {
    .header-mainelipse {
        bottom: 30%;
    }
}

@media (min-width:1200px) {
    .gap-129 {
        gap: 129px;
    }

    .s2-top-bottom-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .s4-button {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        padding: 14px 24px 14px 34px;
        margin-bottom: 27px;
        transition: all 300ms linear;
    }

    .card-s7 .slick-track {
        margin-left: -15% !important;
    }

    .s3-top-bottom-padding {
        padding-top: 155px;
        padding-bottom: 155px;
    }

    .s4-top-bottom-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .s5-top-bottom-padding {
        padding-top: 100px;
        padding-bottom: 105px;
    }

    .s6-top-bottom-padding {
        padding-top: 113px;
        padding-bottom: 113px;
    }

    .s7-top-bottom-padding {
        padding-top: 155px;
        padding-bottom: 155px;
    }

    .accordion-padding {
        padding-top: 155px;
    }

    .s5-2cardpadding {
        padding-top: 115px;
    }

    .header-mainelipse {
        bottom: 22%;
    }

    .s4-box1 {
        order: 0;
    }

    .s4-box2 {
        order: 1;
    }

    .s4-box3 {
        order: 2;
    }

    .s4-box4 {
        order: 3;
    }

    .s4-box5 {
        order: 4;
    }

    .s4-box6 {
        order: 5;
    }

    .s4-box7 {
        order: 6;
    }

    .s4-box8 {
        order: 7;
    }

    .s4-box9 {
        order: 8;
    }

    .s4-box10 {
        order: 9;
    }

    .s4-box11 {
        order: 10;
    }

    .s4-box12 {
        order: 11;
    }

    .s4-box13 {
        order: 12;
    }

    .s4-box14 {
        order: 13;
    }

    .s4-box15 {
        order: 14;
    }

    .s4-box16 {
        order: 15;
    }

    .s4-box17 {
        order: 16;
    }

    .s4-box18 {
        order: 17;
    }

    .s4-box19 {
        order: 18;
    }

    .s4-box20 {
        order: 19;
    }

    .s4-box21 {
        order: 20;
    }

    .s4-box22 {
        order: 21;
    }

    .s4-box23 {
        order: 22;
    }

    .s4-box24 {
        order: 23;
    }
}


@media (min-width:1330px) {

    .header-mainelipse {
        bottom: 20%;
    }
}

@media (max-width: 992px) {
    label[for="icon"] {
        width: 28px;
        height: 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        cursor: pointer;
    }

    label[for="icon"]>span {
        width: 100%;
        background: white;
        height: 2px;
        border-radius: 8px;
    }

    div.mobile-view {
        background: var(--black2);
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 2;
        transition: all 300ms ease-in-out;
    }

    .nav-reponisve>ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input[type="checkbox"]:checked+.nav-reponisve {
        right: 0;
        gap: 58px;
    }

    ul {
        padding-left: 0 !important;
    }

    .nav-line {
        border-bottom: 1px solid #4F4E4E;
        margin-top: 10px;
        width: 286px;
    }
}

@media (max-width:568px) {
    div.mobile-view {
        background: var(--black2);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 2;
        transition: all 300ms ease-in-out;
    }
}